@import "@/assets/styles/vars.scss";

.home-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 30px;
   flex-wrap: wrap;

   i {
      transform: scale(1.3);
   }

   &>.logo {
      font-size: 1.8em;
      text-transform: uppercase;
   }

   li {
      list-style: none;
      display: inline-block;
      cursor: pointer;
      text-transform: uppercase;

      &:not(:last-child) {
         margin-right: 27px;
      }

      a {
         color: $paragraphColor;
         text-decoration: none;
         transition: all 0.3s ease;

         &:hover {
            color: $otherColor;
         }
      }
   }

   .menu__links-mobile {
      text-align: center;
      width: 100%;
      margin-top: 10px;

      li {
         margin-top: 25px;
      }
   }
}