@import "@/assets/styles/vars.scss";

.header-store {
   margin-top: 90px;
   overflow: hidden;
   height: 800px;
   margin-bottom: 50px;

   @media(max-width: 1500px) and (min-width: 1100px) {
      margin-bottom: 0;
   }

   @media(max-width: 1100px) {
      height: fit-content;
      margin-bottom: 100px;
   }

   @media(max-width: 500px) {
      margin-top: 45px;
   }

   .lead__store {
      display: flex;
      position: relative;

      h1 {
         font-size: 12em;
         line-height: 170px;

         @media(max-width: 1500px) and (min-width: 1300px) {
            font-size: 11em;
            line-height: 160px;
         }
         @media(max-width: 1300px) and (min-width: 650px) {
            font-size: 8.5em;
            line-height: 150px;
         }
         @media(max-width: 650px) and (min-width: 450px) {
            font-size: 5.5em;
            line-height: 110px;
         }
         @media(max-width: 450px) {
            font-size: 4em;
            line-height: 80px;
         }
      }

      p {
         color: $paragraphColor;
         margin: 20px 0 40px;
         width: 300px;

         @media(min-width: 650px) {
            width: 600px;
            margin: 40px 0;
         }
      }

      button {
         background: $otherColorTariff;
         @include button;
         width: auto;
         margin-bottom: 65px;
         padding: 20px 25px;

         @media(max-width: 425px) {
            display: block;
            margin-right: 0;
            margin-bottom: 50px;
            font-size: 0.95em;
            padding: 15px;
         }

         &:hover {
            background: $otherBackgroundColor;
         }
      }

      .images {
         display: flex;
         gap: 20px;
         flex-wrap: wrap;

         &>img {
            transition: all 0.3s ease;

            &:hover {
               transform: translateY(-3px);
            }

            @media(max-width: 700px) {
               height: 16px;
            }
         }
      }

      &>div:last-of-type {
         @media(max-width: 1100px) {
            display: none;
         }

         img {
            position: relative;
            top: 80px;
            right: 80px;
            pointer-events: none;

            @media(max-width: 1500px) and (min-width: 1300px) {
               transform: scale(0.85);
               top: 40px;
               right: 100px;
            }
            @media(max-width: 1300px) {
               transform: scale(0.7);
               top: 40px;
               right: 120px;
            }
         }

         .lead__info__store {
            position: absolute;
            top: 0;
            right: 0;

            @mixin lead-info {
               border-radius: 20px;
               padding: 20px 30px;
               font-size: 0.8em;
               letter-spacing: 1px;
               position: relative;

               span {
                  font-weight: 600;
                  color: $textColor;
               }

               i {
                  padding: 10px;
                  border-radius: 50%;
                  color: $textColor;
                  font-size: 1.3em;
                  text-align: center;
                  width: 14px;
                  height: 14px;
                  line-height: 14px;
               }
            }

            .lead__info__km {
               @include lead-info;
               background: #EF8964;
               color: rgba(239, 237, 232, 0.65);
               width: 110px;
               right: 80px;
               top: 40px;

               span {
                  font-size: 2.7em;
                  margin-right: 4px;
               }

               i {
                  display: block;
                  background: #EFA082;
               }
            }

            .lead__info__training {
               @include lead-info;
               background: #303030;
               color: #ACABA8;
               display: flex;
               align-items: center;
               column-gap: 10px;
               width: 140px;
               right: 490px;
               top: 300px;

               @media(max-width: 1450px) and (min-width: 1100px) {
                  right: 350px;
               }

               @media(max-width: 1100px) {
                  right: 250px;
               }

               span {
                  font-size: 1.7em;
               }

               i {
                  background: #EF8964;
                  padding: 10px 10px 10px 12px;
               }
            }

            .lead__info__videos {
               @include lead-info;
               background: #7A29DC;
               color: #C6A8E4;
               width: 140px;
               right: 70px;
               top: 300px;

               span {
                  font-size: 2.5em;
               }
            }
         }
      }
   }
}