@import "@/assets/styles/vars.scss";

.prices {
   h2 {
      margin-bottom: 70px;
      font-size: 3em;
      font-weight: 400;

      @media(max-width: 750px) {
         margin-bottom: 40px;
      }
   }

   .blocks {
      display: flex;
      justify-content: space-between;
      column-gap: 40px;
      margin-bottom: 150px;

      @media(max-width: 750px) {
         flex-direction: column;
         row-gap: 40px;
         margin-bottom: 100px;
      }

      .item {
         flex: 0 1 35%;
         display: flex;
         flex-direction: column;
         padding: 70px;
         background: #232532;
         transition: all 0.3s ease;
         position: relative;

         @media(max-width: 1050px) {
            padding: 50px 35px;
            flex: 0 1 50%;
         }

         &:hover {
            background: #323443;

            i {
               transform: translate(3px, 2px);
            }

            h3, p, ul, span {
               opacity: 1;
            }
         }

         h3, p, ul, span {
            opacity: 0.2;
            transition: all 0.3s ease;

            @media(max-width: 1025px) {
               opacity: 1;
            }
         }

         .header {
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 2em;

            h3 {
               color: $textColor;
            }

            .price {
               color: $otherColorTariff;

               span {
                  margin-left: -5px;
                  opacity: 1;
               }
            }
         }

         p {
            color: $paragraphColor;
            margin-bottom: 15px;
         }

         ul {
            color: $paragraphColor;
            padding-left: 25px;
            margin-bottom: 25px;
            flex: 1 1 auto;
         }

         span {
            @include link-more;
            width: fit-content;

            &:hover {
               a {
                  text-decoration: underline;
               }
            }
         }
      }
   }
}